
@{
    ViewBag.Title = "Email Confirmation Required";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-4 ">
        <div class="content-v-center">
            <div class="text-center">
                <i class="fa fa-exclamation-circle text-warning" style="font-size:8rem;"></i>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="text-warning">Email Not Confirmed</h4>
                    <p class="text-warning">Please click on the link that has been sent to your email to verify your email.</p>
                </div>
            </div>
        </div>
    </div>
</div>

