@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-4 ">
        <div class="content-v-center">
            <div class="text-center">
                <i class="fa fa-exclamation text-success" style="font-size:8rem;"></i>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="text-success">Forgot Password Confirmation</h4>
                    <p class="text-success">Please check your email to reset your password.</p>
                </div>
            </div>
        </div>
    </div>
</div>
