<div class="modal fade" id="ChangePasswordModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("UpdateUserPassword", "Manage", FormMethod.Post, new { @id = "UpdateUserPasswordForm", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" id="UserId" name="UserId" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update User Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="NewPassword">New Password: <span class="Required">*</span></label>
                                <input type="text" id="NewPassword" maxlength="100" name="NewPassword" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="ConfirmPassword">Confirm Password: <span class="Required">*</span></label>
                                <input type="text" id="ConfirmPassword" maxlength="100" name="ConfirmPassword" class="form-control" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btnUpdatePassword">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>
