
<div id="sticky_popup" class="popup" style="display:none;">
    <div style="text-align:center;">
        <div class="splash-title">
            <img src="/Images/loader.gif" width="100" height="100">
            <h1 style="color: #676767;">IIKI Base App</h1>
        </div>
    </div>
</div>

