
<div class="card footer ipage-footer">
    <div class="card-footer">
        <footer>
            <span>
                Base Application
                &copy; @(DateTime.Now.Year)
            </span>
        </footer>
    </div>
</div>

