<div class="modal fade" id="ReplaceLoginEmailModal" tabindex="-1" role="dialog" aria-labelledby="ReplaceLoginEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("ReplaceLoginEmail", "Manage", FormMethod.Post, new { @id = "ReplaceLoginEmailForm", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" id="ReplaceLoginUserId" name="ReplaceLoginUserId" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Replace Login Email</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="CurrentEmail">Current Email: <span class="Required">*</span></label>
                                <input type="text" id="CurrentEmail" name="CurrentEmail" class="form-control" maxlength="255" readonly required autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="NewEmail">New Email: <span class="Required">*</span></label>
                                <input type="email" id="NewEmail" name="NewEmail" class="form-control" maxlength="255" required autocomplete="off" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btnReplaceLoginEmailSubmit">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>
