@{
    ViewBag.Title = "Home Page";
}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h1>Welcome</h1>
        <h2>
            Journal of Food & Nutrition Sciences
        </h2>
        <p>Journal of Food & Nutrition Sciences is a fully open access journal</p>
        <p class="pt-5">

            <a href="@System.Configuration.ConfigurationManager.AppSettings["WebPortalURL"]" target="_blank" class="btn btn-primary online-submission">ONLINE SUBMISSION</a>
        </p>
       
    </div>
    <a href="#about" class="more scrolly">Learn More</a>
</section>

<!-- One -->
<section id="about" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>
                Scope Of Journal
            </h2>
            <p>
                The Journal of Food & Nutrition Sciences (AFNS) is a bi-monthly publication and is being published regularly since 1991 by the Pakistan Agricultural Scientists Forum (PAS FORUM). It publishes original research papers, review, extension/clinical articles on all aspects of animal (including fisheries/wildlife) and plant sciences, agricultural economics, rural sociology and other related subjects. The journal is read, abstracted and indexed by the abstracting/indexing agencies of international repute.
            </p>
        </header>
        <ul class="icons major">
            <li><span class="icon fa-gem major style1"><span class="label">Food</span></span></li>
            <li><span class="icon fa-heart major style2"><span class="label">Nutrition</span></span></li>
            <li><span class="icon solid fa-code major style3"><span class="label">Sciences</span></span></li>
        </ul>
    </div>
</section>

<!-- services -->
<section id="services" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="~/Resources/Images/pic01.jpg" alt="" /></div><div class="content">
            <h2>
                Open access Policy
            </h2>
            <p>The management of the  Journal of Animal and Plant Sciences ensures that the manuscripts published in it are freely accessible online/ via internet immediately upon publication, without any cost/barrier of subscription/registration to the readers universally.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="~/Resources/Images/pic02.jpg" alt="" /></div><div class="content">
            <h2>
                Peer review
            </h2>
            <p>
                Using strict criteria, a panel of reviewers in the same subject area decides whether to accept each submission for publication. Peer-reviewed articles are considered highly credible due to the stringent process they undergo before publication.
            </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="~/Resources/Images/pic03.jpg" alt="" /></div>
        <div class="content">
            <h2>
                Archiving
            </h2>
            <p>
                Archiving and preservation services are essential for maintaining the long-term accessibility and integrity of published journals.
            </p>
            <div>
                <p>
                    <b class="text-info">Deposit and Store:</b> Archiving involves systematically depositing all published articles into a secure digital repository.
                </p>
                <p>
                    <b class="text-info">Formats and Metadata:</b> Articles are stored in standardized formats (such as PDFs) along with essential metadata (e.g., author names, publication dates, abstracts).
                </p>
                <p>
                    <b class="text-info">Version Control:</b> Archiving ensures that different versions of an article (preprints, accepted manuscripts, final published versions) are preserved.
                </p>

            </div>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="~/Resources/Images/pic04.jpg" alt="" /></div>
        <div class="content">
            <h2>
                Preservation
            </h2>
            <div>
                <p>
                    <b class="text-info">Authenticity:</b> Preservation focuses on maintaining the authenticity of records. This includes managing provenance information (who created the record) and ensuring that no unauthorized alterations occur.
                </p>
                <p>
                    <b class="text-info">Integrity:</b> Preservation ensures the integrity of content. It prevents corruption, loss, or unauthorized modifications.
                </p>
                <p>
                    <b class="text-info">Migration and Emulation:</b> Preservation strategies involve migrating content to new formats (when necessary) and using emulation techniques to access older file formats.
                </p>
                <p>
                    <b class="text-info">Long-Term Planning:</b> Preservation planning extends over decades or centuries, considering technological advancements and changing standards.
                </p>
            </div>
        </div>
    </section>
</section>

<!-- Three -->
@*<section id="three" class="wrapper style3 special">
        <div class="inner">
            <header class="major">
                <h2>Accumsan mus tortor nunc aliquet</h2>
                <p>
                    Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
                    fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
                </p>
            </header>
            <ul class="features">
                <li class="icon fa-paper-plane">
                    <h3>Arcu accumsan</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon solid fa-laptop">
                    <h3>Ac Augue Eget</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon solid fa-code">
                    <h3>Mus Scelerisque</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon solid fa-headphones-alt">
                    <h3>Mauris Imperdiet</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon fa-heart">
                    <h3>Aenean Primis</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
                <li class="icon fa-flag">
                    <h3>Tortor Ut</h3>
                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                </li>
            </ul>
        </div>
    </section>*@

<!-- CTA -->
@*<section id="cta" class="wrapper style4">
        <div class="inner">
            <header>
                <h2>Arcue ut vel commodo</h2>
                <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
            </header>
            <ul class="actions stacked">
                <li><a href="#" class="button fit primary">Activate</a></li>
                <li><a href="#" class="button fit">Learn More</a></li>
            </ul>
        </div>
    </section>*@

@*<main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>

        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </section>
        </div>
    </main>*@